@import '../abstracts/mixins';

.main {
    padding: 40px 0;

    @include breakpoint-down(sm) {
        padding: 30px 0;
    }

    &__back {
        margin-bottom: 40px;

        @include breakpoint-down(sm) {
            margin-bottom: 30px;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down(sm) {
        flex-direction: column;
    }

    &__image {
        flex: 0 0 calc(100% / 2 - 40px);

        @include breakpoint-down(xs) {
            flex: 0 0 100%;
        }

        @include breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__info {
        flex: 0 0 calc(100% / 2 - 40px);

        @include breakpoint-down(xs) {
            flex: 0 0 100%;
            width: 100%;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;

            @include breakpoint-down(xs) {
                flex-direction: column;
            }

            li {
                font-size: 14px;
                margin-bottom: 5px;
                flex: 0 0 50%;
                font-weight: 300;

                span {
                    font-weight: 600;
                }
            }
        }

        &__borders {
            p {
                font-size: 14px;
                font-weight: 600;

                span {
                    display: inline-block;
                    text-transform: lowercase;
                    padding: 3px 12px;
                    border-radius: 3px;
                    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
                    margin-right: 5px;
                    font-weight: 300;
                }
            }
        }
    }
}
