.flagItem {
    border-radius: 5px;

    &__image {
        height: 160px;

        img {
            width: 100%;
            display: block;
            object-fit: fill;
            object-position: center;
            height: 100%;
        }
    }

    &__text {
        padding: 15px 12px;
        background-color: var(--bg-elements);

        h2 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        ul {
            li {
                font-size: 14px;
                margin-bottom: 2px;
                font-weight: 300;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}
