@import '../abstracts/variables';
@import '../abstracts/mixins';

.searchBox {
    position: relative;
    max-width: 400px;
    width: 100%;

    @include breakpoint-down(xs) {
        max-width: 100%;
        margin-bottom: 20px;
    }

    input {
        outline: none;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        height: 40px;
        border-radius: 5px;
        padding: 10px 20px 10px 60px;
        width: 100%;
    }

    svg {
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 20px;
    }
}
